
@{
    ViewBag.Title = "İletişim";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h2>@ViewBag.Title</h2>

            <p class="lead">
                <i class="fst-normal" lang="en">Connetium</i> Bilgi Teknolojileri<br />
                Yazılım Dan. San. ve Tic. Ltd. Şti.
            </p>

            <address>
                Kocaeli Üniversitesi Teknoloji Geliştirme Bölgesi<br />
                Yeniköy Merkez Mh. Vatan Cd.<br />
                Teknopark No:83, 41275 Başiskele<br />
                Kocaeli
                <abbr title="Türkiye" class="initialism">TR</abbr>
            </address>
        </div>
        <div class="col-12 col-lg-8 order-last text-end mt-lg-4">
            <iframe class="w-100 h-100 rounded-2 bg-light border shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635.8526688133707!2d29.884700061772197!3d40.703879954139694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4039b382c6a74823!2sKocaeli%20%C3%9Cniversitesi%20Teknopark!5e0!3m2!1str!2str!4v1629651927237!5m2!1str!2str" loading="lazy" style="min-height: 30em;"></iframe>
        </div>
    </div>
</div>
