
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Adı</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Durum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Eğitim</td>
                <td>Açıklama yaptık</td>
                <td>True</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Spor</td>
                <td>Açıklama yaptık</td>
                <td>True</td>
            </tr>
        </tbody>
    </table>
</div>
