html {
    height: 100%;
}

body {
    min-height: 100%;
    --webkit-scrollbar-gutter: stable both-edges;
}

img[src="Error.src"] {
    visibility: hidden
}

.sidebar {
    min-width: 280px;
    max-width: 25vw;
    max-height: 100vh;
    height: 100% !important;
    overflow-y: auto;
}

.sidebar .nav-link {
    margin-bottom: .2rem;
}

.sidebar .nav-link:not(.active):hover,
.sidebar .nav-link:not(.active):focus {
    background-color: #1a1e21;
}

textarea.form-control {
    min-height: calc(1.5em + 4.5rem + 2px);
}

.sidebar .btn-toggle {
    position: relative;
}

.sidebar .btn-toggle::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    width: 1.25em;
    line-height: 1;
    content: "\f230";
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: .75em;
}

.sidebar .btn-toggle[aria-expanded="true"]::after {
    transform: rotate(-90deg);
}

.scrollbar::-webkit-scrollbar {
    width: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray-600);
    border-radius: 1rem;
    border: 6px solid transparent;
    background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-gray-500);
}

.field-validation-valid,
.field-validation-error {
    display: none;
}

.form-floating:focus-within {
    z-index: 2;
}

.container-fill {
    margin: -1.5rem auto -3rem;
}

.carousel-item:before {
    box-shadow: inset 0 0 20rem rgba(var(--bs-dark-rgb), 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.carousel-item {
    min-width: 36rem;
    height: 36vw;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 36vw;
    object-fit: contain;
}

.letter-space {
    letter-spacing: .035em;
    word-spacing: .035em
}

@supports (backdrop-filter: blur(.3em)) or (--webkit-backdrop-filter: blur(.3em)) {
    .frosted {
        --bs-bg-opacity: 0.8;
        backdrop-filter: blur(.3em);
        --webkit-backdrop-filter: blur(.3em);
    }

    .swal2-backdrop-show,
    .fancybox__backdrop {
        backdrop-filter: blur(.4em);
        --webkit-backdrop-filter: blur(.4em);
    }
}

button.note-btn.dropdown-toggle:after {
    display: none !important;
}

/*@media (min-width: calc(576px + 280px)) {
    .container-sm, .container {
        max-width: 540px;
    }
}

@media (min-width: calc(768px + 280px)) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: calc(992px + 280px)) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: calc(1200px + 280px)) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (min-width: calc(1400px + 280px)) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}*/
