
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Test.cshtml";
}

<h2>Index 👋</h2>

<ol>
    <li>Entity Layer</li>
    <li>Data Access Layer - CRUD</li>
    <li>Business Layer</li>
    <li>Presentation Layer - UI</li>
</ol>
