
<div class="alert alert-warning d-flex align-items-center m-0" role="alert">
    <i class="bi-exclamation-triangle-fill lh-1 fs-4 me-3"></i>
    <span>Bu içeriğe ait hiç kayıt bulunamadı</span>
</div>
