
@{
    ViewBag.Title = "404";
}

<div class="d-flex justify-content-center m-5">
    <div>
        <hgroup>
            <h2 class="display-1">@ViewBag.Title</h2>
            <h3 class="display-4">Sayfa Bulunamadı</h3>
        </hgroup>

        <p class="lead">Aradığınız sayfa silinmiş, adı değişmiş ya da hiç var olmamış olabilir.</p>

        <a href="@Request.UrlReferrer" class="@(Request.UrlReferrer == null ? "d-none" : "btn btn-lg btn-outline-primary")">Önceki sayfaya dön</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-primary ms-3">Anasayfaya git</a>
    </div>
</div>
